*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:url("https://wallpaperaccess.com/full/4098805.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
color:white;

}

.navbar{

display:flex;
gap:10px;
align-items:center;
padding:20px;
background:rgba(0,0,0,0.7);

}

.navbar input,
.navbar select{

padding:8px;
border:none;
border-radius:5px;

}

.hero{

text-align:center;
padding:70px;
background:rgba(0,0,0,0.5);

}

.store{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;

}

.card{

background:rgba(0,0,0,0.75);
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;

}

.card:hover{

transform:translateY(-10px) scale(1.03);

}

.card img{

width:120px;
margin-bottom:10px;

}

.price{

color:#00ffae;
font-size:20px;
margin:10px 0;

}

button{

padding:10px 20px;
border:none;
border-radius:6px;
background:#00ffae;
color:black;
font-weight:600;
cursor:pointer;

}

.popup{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;

}

.popup-box{

background:#111;
padding:30px;
border-radius:10px;
text-align:center;

}

.admin{

display:none;
padding:20px;
background:#111;

}

.admin input{

display:block;
margin:10px 0;
padding:8px;
width:200px;

}

footer{

text-align:center;
padding:20px;
background:rgba(0,0,0,0.7);

}